$color-primary: rgb(251, 101, 30);
$color-primary-light: rgb(253, 169, 66);
$color-grey-light: rgb(245, 245, 238);
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #ffffff;
$color-black: #000;
