.tooltip {
    position: absolute;
    top: 100%;
    background-color: $color-white;
    padding: 1rem .5rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    white-space: nowrap;
    display: none;
    list-style-type: none;
    z-index: 1;
    transform: display 3s;

        &__lists {
            height: 3rem;
            line-height: .3rem;
            padding: 2rem;

            &:hover {
                background-color: $color-grey-light;
            }
        }
        &__links {
            text-decoration: none;
            color: black;
        }
        @include respond(tab-port) { 
            &__links { 
                font-size: 1.9rem;
            }
        }
        @include respond(phone) {
            display: block;
            background-color: transparent;
            box-shadow: none;
            position: static;
            max-height: 0;
            overflow: hidden;
            padding: 0;
            transition: all 1.4s ease;

            &__lists { 
                height: 0;
            }
        }
}

@include respond(phone) {
.navigation__lists.active .tooltip {
    max-height: 35rem;
    animation: fade 1s ease-in;
}
.navigation__lists.active .navigation__arrow {
    transform: rotate(180deg);
}
}