.tooltip {
    position: absolute;
    top: 100%;
    background-color: $color-white;
    padding: .4rem;
    border-radius: .5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .3);
    display: none;
    white-space: nowrap;
    list-style-type: none;
    z-index: 1;
    transform: display 3s;

        &__lists {
            height: 3rem;
            line-height: .3rem;
            padding: 2rem;

            &:hover {
                background-color: $color-grey-light;
            }
        }
        &__links {
            text-decoration: none;
            color: black;
        }
}