.home {
    padding-top: 8rem;
    // background-color: aqua;
}

.companies {
    padding: 8rem 0;
    margin-top: -10rem;
    background-color: $color-grey-light;
}

.founders {
    padding: 6rem 0;
}
.formula {
    padding: 1px 0 5rem 0;
    background-color: $color-grey-light;
}