.home {
    padding-top: 8rem;
    height: 90vh;
    // background-color: aqua;
}

.companies {
    padding: 8rem 0;
    margin-top: -1.7rem;
    background-color: $color-grey-light;
}

.founders {
    padding: 6rem 0;
}
.formula {
    padding: 8rem 0;
    background-color: $color-grey-light;
}

.runby {
    padding: 8rem 0;
    &__heading {
        max-width: 70rem;
        @include respond(tab-port) {
            &--text {
                font-size: 3.5rem;
            }
            max-width: 75rem;
        }

        @include respond(phone-port) { 
            max-width: 44rem;
        }
    }

}

.priority {
    padding: 8rem 0;
    background-color: $color-grey-light;
}

.worth {
    padding: 8rem 0;

    &__info {
        text-align: center;

        p {
            font-size: 2rem;
            padding-top: 2rem;
            font-weight: 400;
        }
    }
}

.community {
    padding: 6rem 0;
    background-color: $color-grey-light;
}

.lastest {
    padding: 8rem 0;
}

.intersted {
    padding: 8rem 0;
    background-color: $color-grey-light;
}
.footer {
    padding:5rem 0 8rem 0;
    background-color: $color-grey-light;
}