.header {
    background-color: $color-grey-light;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10rem;
    z-index: 5000;

    &__content {
        display: flex;
        gap: 2.5rem;
        align-items: center;
        max-width: 110rem;
        margin: 0 auto;
        margin-top: 1.8rem;

        @include respond(tab-land) {
            padding: 0 3.5rem;
          }
    }
    &__logo {
        height: 6rem;
        &--img {
            width: 6rem;
        }
    }

    &__btn {
        display: flex;
        align-items: center;
        gap: 1.2rem;

        &--text {
            @include respond(tab-land) {
                display: none;
              }
        }

        &--apply {
            padding: .5rem 1rem;
            font-size: 1.8rem;
            background-color: $color-primary;

            &:hover {
                background-color: $color-primary-light;
            }
            @include respond (phone) {
                display: none;
            }
        }
    }
}