.header {
    background-color: $color-grey-light;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 10rem;
    z-index: 5000;
    &__container { 
        @include flexCenterStart(space-between, center);

    }
    &__content {
        @include flexCenterStart(start, center);
        max-width: 110rem;
        margin: 0 auto;
        gap: 2.5rem;
        margin-top: 1.8rem;

        @include respond(tab-land) {
            width: calc(100% - 4rem);
          }
    }
    &__logo {
        height: 6rem;
        &--img {
            width: 6rem;
        }
        @include respond (phone) {
            z-index: 2000;
        }
    }

    &__btn {
        @include flexCenterStart(start, center);
        gap: 1.2rem;
        &--text {
            @include respond(tab-land) {
                display: none;
              }
        }
        &--subText { 
            display: none;
            color: $color-primary;
        }

        &--apply {
            padding: .5rem 1rem;
            font-size: 1.8rem;
            background-color: $color-primary;

            &:hover {
                background-color: $color-primary-light;
            }
            @include respond (tab-port) { 
                padding: .5rem 1.4rem;
                font-size: 2.2rem;
            }
            @include respond (phone) {
                display: none;
            }
        }
        @include respond (phone) { 
            display: block;
            text-align: center;
            font-size: 2.2rem;
            z-index: 5000;
            flex-grow: 1;
            width: 100% !important;
            padding: 1rem 0;
            background-color: $color-grey-light;
        }
    }
}