.home {
    // background-color: aqua;
    &__content {
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 0 auto;
        position: relative;

        @include respond(tab-port) {
            height: 100%;
          }
    }
    &__typography {
        width: 50%;
        max-width: 55rem;
        @include respond(tab-land) {
            padding-left: 3.5rem;
          }
          @include respond(tab-port) {
            max-width: 90rem;
            margin: 0 auto;
            transform: translateY(-10%);
            width: 60%;
            padding-left: 0;
          }
          @include respond (phone) { 
            max-width: 40rem;
            width: 100%;
          }
          @include respond (phone-port) { 
            max-width: 36rem;
            transform: translateY(-2%);
          }
        h1 {
            font-size: 5.5rem;
            color: $color-primary;
            &:first-child {
                margin-bottom: -3rem;
                color: $color-black;
                font-size: 6rem;
            }

            @include respond(tab-port) {
                font-size: 6.5rem;
                &:first-child {
                    font-size: 7rem;
                }
              }

              @include respond (phone) {
                font-size: 5rem;
                &:first-child {
                    font-size: 6rem;
                }
            }
        }
        P {
            font-size: 2.6rem;
            line-height: 1.5;

            span {
                display: block;
            }

            @include respond (phone) { 
                font-size: 3rem;
            }

            @include respond (phone-port) { 
                font-size: 2.5rem;
            }
        }
    }

    &__img {
        width: 50%;
        z-index: -1;
        img {
            width: 100%;
            height: calc(100vh - 17rem);
            object-fit: cover;
        }

        @include respond(tab-port) {
            display: none;
          }
    }

    &__btn {
        display: block;
        font-size: 2rem;
        text-align: center;
        width: 35%;
        padding: .6rem 2rem;
        margin-top: 2rem;
        background-color: $color-primary-light;
        cursor: pointer;
        transition: all .3s;
        
        &:hover{
            background-color: $color-primary;
        }

        @include respond (phone) {  
            width: 45%;
        }
        @include respond (phone-port) { 
            font-size: 1.6rem;
            width: 40%;
        }
    }

    &__label {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;

        &--con {
            background-color: $color-grey-light;
            height: 13rem;
            width: 22rem;
            padding: 2rem 2.5rem;
            box-shadow: 0 1rem 2rem rgba($color-black, $alpha: .2);
            border-radius: 1.2rem;

            &:first-child {
                margin-bottom: 2rem;
            }

            h1 {
                color: $color-primary;
                font-size: 3.5rem;
            }
            p {
                margin-top: -.5rem;
            }
        }

        @include respond(tab-port) {
            display: none;
          }
    }
}