.navigation {
    flex: 1;
    &__items {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        align-items: center;
        list-style-type: none;
    }
    &__lists {
        position: relative;
    }

    &__links {
        text-decoration: none;
        color: black;
    }
    &__lists:hover  &__links {
        color: rgb(69,138,210);
    }
    &__lists:hover &__tooltip {
        display: block;
    }
}